body {
	font-family: Arial, Helvetica, sans-serif;
}

table#status tr td {
	font-size: 10px;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.ui-button { 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: auto;
  padding: 0.3em 0.2em;
}

#history {
	border: solid 1px #000;
}
#config {
	border: solid 1px #000;
	width: 400px;
}
#output {
	border: solid 1px #000;
	width: 400px;
}
