body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
/*
#speedSlider {
	width: 1.5em;
}

#speedSlider .ui-slider-handle {
	width: 2em;
}

#turnSlider {
	height: 1.5em;
}
*/


.ui-button { 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: auto;
  padding: 0.3em 0.2em;
}

#history {
	border: solid 1px #000;
}
#config {
	border: solid 1px #000;
	width: 400px;
}
#output {
	border: solid 1px #000;
	width: 400px;
}
